In [1]:
# Q1 Discuss string slicing and provide examples.

# A string is a sequence of chracters used to represent text, a string is considered a data type that is used to store and manipulate text based data
#String Slicing is a technique of extracting a portion of string in a precise manner.It is done using a square brackets[].
# String slicing is feature that allows you to efficiently manipulate and extracts parts of strings.

#Examples
#    -6-5-4-3-2-1      
a = "aaryan"
#    123456
a[0]

'a'

In [2]:
a[5]

'n'

In [3]:
a[-2]

'a'

In [4]:
a[7]#it will throw a error because 7th index does not exist.

IndexError: string index out of range

In [5]:
i = "i am a student"
i

'i am a student'

In [6]:
i[0:4]
#i[start_index:end_index]

'i am'

In [9]:
i[2:]#if you does'nt provide end_index it will by default gives substring till the last index.

'am a student'

In [11]:
i[:5]#if you does'nt provide start_index it will by default gives substring from the first index.

'i am '

In [12]:
b = "datascience"
b

'datascience'

In [13]:
b[-7]

's'

In [14]:
b[0]

'd'

In [15]:
#if you want only last three chracters
b[8:]

'nce'

In [16]:
#if you want all chracters except the last two chracters.
b[0:-2]

'datascien'

In [17]:
j = "hello there"
j

'hello there'

In [25]:
#if you want step between the words then
j[0:5:1]#the step is 1 by default
#j[start:end:step]

'hello'

In [23]:
j[0:5:2]
#if you want a step to skipped
# hello
# 12345
# 1-3-5

'hlo'

In [24]:
j[::2]

'hlotee'

In [26]:
#if you want sequence in reverse order.
j[::-1]

'ereht olleh'

In [27]:
# Q2 Explain the key features of lists in Python.
# List is a ordered collection of items.There are many key features of list:-

#1.Lists are mutable. You can change thier elements after they have created.We can add more items to the list after the creation.This allows
#operations like appending and inserting.

#2.Lists maintain the order of elements in ehich they are added.It is a proper ordered coolection of elementsand it preserve the order 
#unless explicitly changed.

#3.Lists also allow the duplication of the elements that are inserted.Each element in a list has a specific position that can be accessed.

#4. Lists are hetrogeneous means it can contain items of different types.for example a single list can contain integers, strings and even 
#others list.

#5.Items in lists are accessed.for example a list has four items if you have to access first item then you have to write list_name[0] , 
# 0 because the counting starts from zero.

#6.Python supports list comprehensions

#7.Lists supports shallow copy in which the value will change with change in other list.for example we have a list now we make another list 
# which is equal to the first list so when the second list undergo any change the first list will also change.

#8.Lists also supports deep copy in which the value will not change  with change in the other list.

In [28]:
#Q3.Describe how to access,modify and delete elements in a list with example.

#For access a item in list
shoping_list = ["flour","candy","choclates","milk",2,3,4.56,5+7j]

In [29]:
shoping_list

['flour', 'candy', 'choclates', 'milk', 2, 3, 4.56, (5+7j)]

In [30]:
shoping_list[1]

'candy'

In [31]:
shoping_list[-5]

'milk'

In [33]:
shoping_list[7]

(5+7j)

In [34]:
shoping_list[-3]

3

In [46]:
#for modifying the list
#for adding a element
shoping_list.append("tomato")
shoping_list

['flour', 'candy', 'choclates', 'milk', 2, 3, 4.56, (5+7j), 'tomato']

In [47]:
#tomato will be adde to the list

In [48]:
#for inserting at specific position
shoping_list.insert(3,"potato")
shoping_list

['flour', 'candy', 'choclates', 'potato', 'milk', 2, 3, 4.56, (5+7j), 'tomato']

In [49]:
#potato will be added at thitd index

In [50]:
#for removing
shoping_list.remove("milk")
shoping_list

['flour', 'candy', 'choclates', 'potato', 2, 3, 4.56, (5+7j), 'tomato']

In [51]:
#milk will be removed

In [52]:
#append is also used for extending the list for example we have two lists that are
fruits_list = ['mango', 'banana', 'kiwi', 'apple']
vegies_list = ['brinjal','potato','tomato','ladyfinger']
fruits_list.append(vegies_list)#extemds first list

In [53]:
fruits_list

['mango',
 'banana',
 'kiwi',
 'apple',
 ['brinjal', 'potato', 'tomato', 'ladyfinger']]

In [54]:
vegies_list.append(fruits_list)

In [55]:
vegies_list

['brinjal',
 'potato',
 'tomato',
 'ladyfinger',
 ['mango', 'banana', 'kiwi', 'apple', [...]]]

In [56]:
# Q4 Compare and contrast tuples and lists with examples.

# Tuples and lists are both data structures in python used to store collection of items, but they have several key diffrences which are

# Mutability :- Tuples are immutable whereas lists are immutable means in tuples once they are created the items of tuples can not be 
#modify,add and remove whereas in lists after the creation elements can be added, removed and modified

# Tuples are defined using paraenthesis which is "()" and lists are defined using square brackets which are "[]".

# Tuples are used where you don't havr to change anything after creation and lists are used where ypu have to change the data after the 
#creation of lists.

# Tuples are generally faster than the lists for accessing elements because they are immutable and thier size and contents are fixed.

In [61]:
#Examples
# let say a tuple
tuple1 = ("parrot","chicken","owl","falcon",2,1,1,3.3,4,8+9j)

In [58]:
type(tuple1)

tuple

In [59]:
tuple1[3]

'falcon'

In [60]:
tuple1[3]="bird"#it will throw a error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [62]:
# now if we have to find out how many times elements exist in tuple then
tuple1.count("falcon")

1

In [64]:
tuple1.count(1)

2

In [2]:
#now list
l = ["parrot","chicken","owl","falcon",2,1,1,3.3,4,8+9j]

In [66]:
l

['parrot', 'chicken', 'owl', 'falcon', 2, 1, 1, 3.3, 4, (8+9j)]

In [67]:
l.append("bird")

In [68]:
l

['parrot', 'chicken', 'owl', 'falcon', 2, 1, 1, 3.3, 4, (8+9j), 'bird']

In [ ]:
#it is added because list is mutable
l.remove("bird")

In [3]:
l#removed because lists are mutable

['parrot', 'chicken', 'owl', 'falcon', 2, 1, 1, 3.3, 4, (8+9j)]

In [4]:
#Q5 Describe the key features of sets and provoide emamples of their use.

#Sets are fundamental data structures.There are many key features of sets :

#Sets are mutable it means that the after the creation of sets it can be modified.We can add or remove elements from sets after the creation
#but set inside set must be immutable.

# A set is a collection of distinct objects.This means there is no repetetion of elements or no two elements in sets are identical.

#Sets supports various operations such as union,intersection,difference and symmetric diffrence.
#Union: combine elements from two sets excluding duplicates
#Intersection:only common elements between sets
#diffrence: return the elements that is present in first set and not in second
#symmetric difference: returns elements that are present in either of sets but not in both

In [5]:
s = {5,5,10,10,20,20,20,30,30,50,40,40}

In [6]:
s#there is no identical items.

{5, 10, 20, 30, 40, 50}

In [7]:
s ={2,4,6,8, {4,5,6}}
#it is a unhashable type>>it is a mutable list
#It will throw a error

TypeError: unhashable type: 'set'

In [8]:
s = {1, 2, 3, 4, 5, (4, 5, 6)}#it did'nt throw error,because tuple is immutable>stable hashtype

In [9]:
s

{(4, 5, 6), 1, 2, 3, 4, 5}

In [10]:
s = {5,5,10,10,20,20,20,30,30,50,40,40}

In [11]:
s

{5, 10, 20, 30, 40, 50}

In [12]:
#if we have to add an item in set
s.add(100)

In [13]:
s

{5, 10, 20, 30, 40, 50, 100}

In [14]:
s.pop()#it is not compulsory that it will remove last element from the set,it removes randomly

50

In [15]:
s

{5, 10, 20, 30, 40, 100}

In [16]:
s.pop(5)#it removes randomly
s

TypeError: set.pop() takes no arguments (1 given)

In [17]:
s.update("Yuvi")#updates take iterable
s

{10, 100, 20, 30, 40, 5, 'Y', 'i', 'u', 'v'}

In [18]:
s.update(["Aaryan"])
s

{10, 100, 20, 30, 40, 5, 'Aaryan', 'Y', 'i', 'u', 'v'}

In [21]:
#to clear elements in set
s.clear()

In [22]:
s

set()

In [23]:
#to delete the whole set
del s

In [25]:
s#throws a error because it is deleted.

NameError: name 's' is not defined

In [26]:
s = {(1,2,3), 100, 102 ,101,'2',3.4}

In [27]:
#to remove a element
s.remove(102)
s

{(1, 2, 3), 100, 101, '2', 3.4}

In [35]:
#set operations
#Union
s1 = {"Mango","Apple","Banana","lichies"}
s2 = {"Kiwi","Peaches","lichies","Mango"}

In [29]:
s1

['Mango', 'Apple', 'Banana']

In [30]:
s2

['Kiwi', 'Peaches', 'Mango']

In [36]:
s1|s2

{'Apple', 'Banana', 'Kiwi', 'Mango', 'Peaches', 'lichies'}

In [34]:
#all elements of set s1 and s2 will be thrown.

In [37]:
#intersection>> all common elements
s1&s2

{'Mango', 'lichies'}

In [38]:
#difference
s1-s2

{'Apple', 'Banana'}

In [39]:
#symmetric diffrence
s1^s2

{'Apple', 'Banana', 'Kiwi', 'Peaches'}

In [40]:
#frozen sets>> immutable version of set,can not be added or removed any new element
fz_set = frozenset([11,22,33,33,44,11,22,33,44])

In [41]:
fz_set

frozenset({11, 22, 33, 44})

In [42]:
type(fz_set)

frozenset

In [43]:
fz_set.add(55,66)#it will throw a error because these are immutable

AttributeError: 'frozenset' object has no attribute 'add'

In [44]:
#Q6 Discuss the use cases of tuples and sets in Python programming.

# Tuples is used a data structure where you don't want to modify the data after the creation.
tuple1 = ("pwskills", 1, 1, 1, 2, 2.2,"pwskills")

In [46]:
type(tuple1)

tuple

In [47]:
tuple1[0] = 100#throws an error because these are immutable

TypeError: 'tuple' object does not support item assignment

In [49]:
print(tuple1*3)#print the tuple three times

('pwskills', 1, 1, 1, 2, 2.2, 'pwskills', 'pwskills', 1, 1, 1, 2, 2.2, 'pwskills', 'pwskills', 1, 1, 1, 2, 2.2, 'pwskills')

In [50]:
#nested tuples
t1 =(1,2,3,4,5,6,7)
t2 =(100,200,300,400,500)

In [51]:
t1

(1, 2, 3, 4, 5, 6, 7)

In [52]:
t2

(100, 200, 300, 400, 500)

In [55]:
t3 = (t1, t2)

In [56]:
t3

((1, 2, 3, 4, 5, 6, 7), (100, 200, 300, 400, 500))

In [58]:
#Sets are fundamental data structures.There are many key features of sets :
#Sets are mutable it means that the after the creation of sets it can be modified.We can add or remove elements from sets after the creation
#but set inside set must be immutable.
nom = {1, 2, 3, 4, 5, (4, 5, 6)}

In [60]:
nom.add(100)

In [61]:
nom

{(4, 5, 6), 1, 100, 2, 3, 4, 5}

In [68]:
nom.remove(100)

In [69]:
nom

{(4, 5, 6), 1, 2, 3, 4, 5}

In [70]:
nom.pop()

1

In [71]:
nom.update(["Aaryan"])

In [72]:
nom

{(4, 5, 6), 2, 3, 4, 5, 'Aaryan'}

In [73]:
nom.clear

In [74]:
del nom

In [75]:
nom

NameError: name 'nom' is not defined

In [76]:
#Describe how to add,modify, and delete items in a dictionary eith examples.

#Dicyionary is a data structure that stores data as a key value pair
#keys are unique and immutable
d = {"name":"Aaryan","Email":"patyalaaryan@gmail.com","contact":1234}

In [77]:
type(d)

dict

In [78]:
d

{'name': 'Aaryan', 'Email': 'patyalaaryan@gmail.com', 'contact': 1234}

In [79]:
#to modify in dictonaries
d["name"] = "Rohit"

In [80]:
d

{'name': 'Rohit', 'Email': 'patyalaaryan@gmail.com', 'contact': 1234}

In [81]:
d["Email"]="rj568@gmail.com"

In [82]:
d

{'name': 'Rohit', 'Email': 'rj568@gmail.com', 'contact': 1234}

In [84]:
#to add new value key pair
d2 = d = {"name":"Aaryan","Email":"patyalaaryan@gmail.com","contact":1234}

In [85]:
d2["address"] = "xyz street 123 road,HP"

In [86]:
d2

{'name': 'Aaryan',
 'Email': 'patyalaaryan@gmail.com',
 'contact': 1234,
 'address': 'xyz street 123 road,HP'}

In [90]:
#to delete a key value pair
del d2["Email"]

In [92]:
d2#email will be deleted

{'name': 'Aaryan', 'contact': 1234, 'address': 'xyz street 123 road,HP'}

In [93]:
#to delete thw whole dictionary
del d2

In [94]:
d2#it will throw a error because d2 is deleted

NameError: name 'd2' is not defined

In [95]:
#Q8 Discuss the importance of dictionary keys being immutable and provide examples.

#Dictionary keys in python must be immutable.
#Dictionary keys in Python are required to be hashable, meaning they must have a hash value that does not change during its
#lifetime (it remains constant). Immutable objects like integers, floats, strings, and tuples are hashable because their hash value is 
#computed based on their contents, which are fixed.

#If a dictionary key were mutable, and its hash value changed after it was used as a key in a dictionary, the dictionary would fail to find
#the corresponding value for that key. This inconsistency would lead to unpredictable behavior and potentially incorrect results.

#Hash tables, which Python dictionaries are implemented with, rely on the assumption that keys are immutable and hashable. This assumption 
#allows for efficient retrieval and storage of key-value pairs. Mutable keys would complicate this mechanism and degrade performance.
d = {"name":["Aaryan","Ajay",1,2],"Email":"patyalaaryan@gmail.com","contact":(1234,678)}

In [96]:
d

{'name': ['Aaryan', 'Ajay', 1, 2],
 'Email': 'patyalaaryan@gmail.com',
 'contact': (1234, 678)}

In [97]:
#you can only access value using key,vice-versa not possible
d["Email"]

'patyalaaryan@gmail.com'

In [99]:
#rules of defining keys
d1= {1:"abc"}#integer as a key
d1

{1: 'abc'}

In [100]:
d = {1.2:"abc"}#float as a key
d

{1.2: 'abc'}

In [101]:
d = {True:"any value"}
d#boolean value can also be key of dictionary

{True: 'any value'}

In [102]:
#use case
user_id = [1,2,3]
user_name = ["a21","a22","a23"]

In [103]:
{u_id:u_name for u_id, u_name in zip(user_id, user_name)}

{1: 'a21', 2: 'a22', 3: 'a23'}